<%= form_with(model: health_warning, local: true) do |form| %>
  <% if health_warning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health_warning.errors.count, "error") %> prohibited this health_warning from being saved:</h2>

      <ul>
      <% health_warning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :health_warning_name %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :health_warning_link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
