<nav class="navbar navbar-expand-lg navbar-dark">
 
 <a id="logo" class="navbar-brand" href="#"><span id="slash_slash">//</span>learnHELP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="<%=root_path%>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= lessons_path %>">Coding Topics</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="<%= tips_path%>">Best Tips</a>
      </li>
    </ul>
    <div class="block-inline my-2 my-lg-0">
    <% if logged_in? %>
      <i id="account_icon" class="fa fa-user-circle"></i>
    <% else %>
      <i id="icon_header" class="fa fa-sign-in"></i>
    <% end %>
    </div>
    <li><<%= link_to "Log out", logout_path, method: :delete %></li>
  </div>
  <div id="login_target"> </div>
</nav>

<script>
$(document).ready(function() {
    $("#login_target").append("<%= escape_javascript render 'sessions/form' %>")
   $('#icon_header').click(toggleLoginForm)}); // end ready

function toggleLoginForm() {
      // toggle login form
      if ($('#login_target').is(':hidden')) {
        $('#login_target').slideDown(300);
        $(this).addClass('close');
      } else {
        $('#login_target').slideUp(600);
        $(this).removeClass('close');
      }
      //attach event listener to login form for submit
      $('#login_form').submit();
    }; // end cl

function postLogin(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.post('/login', values);
 
      posting.done(function(data, status) {
        if (status === 201) {
          $('#login_form').remove()
        } else {

        }
        var post = data;
        console.log(status)
        console.log(data)
      });
    }



</script>


